* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 50vw , includes padding and border, use 50% */
}

#moralis-reference {
  text-shadow: 2px 2px 7px darkgrey;
}


.dashed-border { /* block element occupy the whole row vs inline */
  border: 2px dashed darkblue;
}

.d-block {
  display: block;
}

.d-inline {
  display:inline;
}

.d-inline-block {
  display: inline-block;
}

/* flexbox rules space-evenly etc.... */
.column-container {
  display: flex;
  justify-content: space-around;
  /* when overflow: too much columns for a row ; add multiple lines */
  flex-wrap: wrap;
  /* flex-direction: column ; vertical main axis => align items across lines */

  /* flexbox properties - solution of last exercise flexbox froggy */
  /* #pond {
display: flex;
flex-direction: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between;
} */

}

.column {
  width: 40%;
}

body {
  background-color: beige;
}

button {
  border: none;
  box-shadow: 3px 3px 7px rgba(200, 200, 200, 0.6);
  cursor: pointer;
}

form {
  padding: 15px;
  border: 2px solid black;
  margin: 30px; /* top right bottom left */
}

/* plate[for*="obb"] selects all plates for which the for attribute contains obb */
[type=text], [type=number], [type=submit] {
  padding: 4px;
}



/* logo and navbar lay-out */

/* make it responsive with "media queries" */

@media screen and (min-width: 400px) {


  .navbar-container {
    display:flex;
  }

  .column-logo {
    width: 30%;
  }

  .column-navbar-items {
    width: 70%;
    margin-right: 20%;
  }

  .list-items { /* class in the ul to remove bullets */
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
  }

  .list-item {
    margin: 30px;
  }


}

/* for bigger screens mobile-first, it inherits all from smaller screens */

@media screen and (min-width: 768px) {
  .list-items {
    margin: 60px;
  }

}
